html,
body,
#root {
/*
    border: solid 2px gray;
*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: pre-wrap;
  background: url("./assets/gray-blur.jpg") center center / cover no-repeat;
  font-size: 100%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica neue,
    helvetica,
    ubuntu,
    roboto,
    noto,
    segoe ui,
    arial,
    sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
  line-height: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  font-size: 0.9em;
  line-height: 18px;
}

ul, li {
  margin: 0;
  padding: 4px;
  list-style-type: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, .6);
}

/************************************ App *************************************/
.app-container {
/*
    border: solid 2px red;
*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  display: grid;
  grid-template: 6% 64% 30% / 35% 30% 15% 20%;
  z-index: 1;
}

/************************************ Title ***********************************/
.title-container {
/*
    border: solid 2px blue;
*/
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  filter: drop-shadow(-1px -1px 3px rgba(227, 228, 230, 0.5));
}

.title-main {
  display: flex;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: -10px;
  color: rgba(227,228,230, 0.8);
}

/************************************ NavBar **********************************/
.navbar-container {
/*
    border: solid 2px green;
*/
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  z-index: 3;
}

.navbar-element {
  width: 100%;
  height: 100%;
  display: flex;
  filter: drop-shadow(-1px -1px 3px rgba(255,255,255, 0.5));
}

/********************************** Basecard **********************************/
.basecard-container {
/*
  border: solid 2px yellow;
*/
  width: 100%;
  height: 100%;
  padding-top: 49px;
  display: flex;  
  align-items: flex-start;
  justify-content: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  z-index: 3;
}

.basecard-main::-webkit-scrollbar { display: none; }

.basecard-main {
  border: solid 2px red;
  width: 80%;
  height: 88%;
  display: flex;
  overflow-x: hidden; 
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: 3px solid rgba(227, 228, 230, 0.9);
  border-radius: 10px;
  background: rgba(169, 173, 182, 0.8);
}

/********************************** Carousel **********************************/
.carousel-container {
/*
  border: solid 2px pink;
*/
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  z-index: 4;
}

.carousel-icon {
  position: relative;
  width: 100%;
  height: 10vw;
  padding: 1.3px;
  border: 3px solid rgba(227,228,230, 0.9);
  border-radius: 10px;
  background-color: rgba(169, 173, 182, 0.7);
}

.folder-svg {
  width: 90%;
  height: 90%;
  left: 4.5%;
  top: 5%;
}

.empty-svg {
  width: 100%;
  height: 100%;
  right: 0.5%;
  top: 1%;
  stroke: rgba(227,228,230, 0.8);
  stroke-width: 8;
}

.icon-caption {
  padding-top: 5px;
  font-size: 0.52vw;
  letter-spacing: 0.5px;
}

.icon-label {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.intern-icon {
  width: 100%;
  height: 100%;
  background: url("./assets/intern-icon.png")
              no-repeat
              center 60% / 50% 35%;
}

/********************************** Profile ***********************************/
.home-profile {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: rgba(227,228,230, 0.2)
              url("./assets/home-profile.png")
              center center / 100% 100%
              no-repeat;
}

.industry-profile {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: rgba(227, 228, 230, 1)
              url("./assets/industry-profile.png")
              center center / 80% 60%
              no-repeat;
}

.academia-profile {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: rgba(227, 228, 230, 1)
              url("./assets/academia-profile.png")
              center center / 65% 65%
              no-repeat;
}

.contact-profile {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: rgba(227, 228, 230, 0.2)
              url("./assets/contact-profile.png")
              center center / 100% 100%
              no-repeat;
}

/************************************ Data ************************************/
.data-container {
/*
  border: solid 2px green;
*/
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-left: 35px;
  position: absolute;
  display: grid;
  grid-template: 6% 33% 61% / 14% 20% 20% 41% 5%;
  content: "\A";
  line-height: 1px;
  letter-spacing: 2.5px;
  color: rgba(227, 228, 230, 0.8);
  filter: drop-shadow(-1px -1px 3px rgba(227, 228, 230, 0.5));
  z-index: 4;
}

.profile-container {
/*
  border: solid 2px violet;
*/
  padding-bottom: 20px;
  padding-right: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2; 
}

.heading-01-data {
/*
  border: solid 2px red;
*/
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.content-01-data1 {
/*
  border: solid 2px yellow;
*/
  line-height: 17px;
  font-weight: bold;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.content-01-data2 {
/*
  border: solid 2px lightblue;
*/
  line-height: 17px;
  font-weight: bold;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.heading-02-data {
/*
  border: solid 2px tan;
*/
  text-align: right;
  letter-spacing: 4px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.content-02-data {
/*
  border: solid 2px pink;
*/
  font-weight: bold;
  text-align: right;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}

.bottom-row-container {
/*
  border: solid 2px blue;
*/
  width: 100%;
  height: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  content: "\A";
  line-height: 1px;
  letter-spacing: 2.5px;
  color: rgba(227, 228, 230, 0.8);
}

.content-05-data {
  font-family: Courier New;
}

/********************************* Background *********************************/
.tint-background {
  width: 100%;
  position: absolute;
  background: rgba(169, 173, 182, 0.8);
  z-index: 1;
}

.home-intro-background {
  width: 100%;
  opacity: 0.45;
  position: absolute;
  background: url("./assets/home-intro-background.jpg")
              center center / contain
              no-repeat
              fixed;
}

.industry-intro-background {
  width: 100%;
  opacity: 0.3;
  position: absolute;
  background: url("./assets/industry-intro-background.jpg")
              center center / contain
              no-repeat
              fixed;
}

.academia-intro-background {
  width: 100%;
  opacity: 0.3;
  position: absolute;
  background: url("./assets/academia-intro-background.jpg")
              center center / contain
              no-repeat
              fixed;
}

.contact-intro-background {
  width: 100%;
  opacity: 0.55;
  position: absolute;
  background: url("./assets/contact-intro-background.jpg")
              center center / contain
              no-repeat
              fixed;
}

/*********************************** Images ***********************************/
.intern-01-img-01 {
  width: 100%;
  height: 355px;
  opacity: 0.65;
  background: url("./assets/intern-01-img-01.png")
              center center
              no-repeat;
}

.intern-01-img-02 {
  width: 100%;
  height: 80px;
  opacity: 0.65;
  background: url("./assets/intern-01-img-02.png")
              center center
              no-repeat;
}

.intern-01-img-03 {
  width: 100%;
  height: 245px;
  opacity: 0.65;
  background: url("./assets/intern-01-img-03.png")
              top center / 30%
              no-repeat;
}

.cs-course-02-img-01 {
  width: 100%;
  height: 275px;
  opacity: 0.65;
  background: url("./assets/cs-course-02-img-01.png")
              center center 
              no-repeat;
}

.cs-course-02-img-02 {
  width: 100%;
  height: 400px;
  opacity: 0.65;
  background: url("./assets/cs-course-02-img-02.png")
              center center 
              no-repeat;
}

.cs-course-04-img-01 {
  width: 100%;
  height: 37px;
  opacity: 0.65;
  background: url("./assets/cs-course-04-img-01.png")
              center center 
              no-repeat;
}

.cs-course-04-img-02 {
  width: 100%;
  height: 135px;
  opacity: 0.65;
  background: url("./assets/cs-course-04-img-02.png")
              center center 
              no-repeat;
}